<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yusys.agile.issue.dao.IssueCustomFieldMapper">
  <resultMap id="BaseResultMap" type="com.yusys.agile.issue.domain.IssueCustomField">
    <result column="extend_id" jdbcType="BIGINT" property="extendId" />
    <result column="field_id" jdbcType="BIGINT" property="fieldId" />
    <result column="field_value" jdbcType="VARCHAR" property="fieldValue" />
    <result column="issue_id" jdbcType="BIGINT" property="issueId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_uid" jdbcType="BIGINT" property="createUid" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_uid" jdbcType="BIGINT" property="updateUid" />
    <result column="tenant_code" jdbcType="VARCHAR" property="tenantCode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    extend_id, field_id, field_value, issue_id, create_time, create_uid, update_time, 
    update_uid,tenant_code
  </sql>
  <select id="selectByExample" parameterType="com.yusys.agile.issue.domain.IssueCustomFieldExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from issue_custom_field
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.yusys.agile.issue.domain.IssueCustomFieldExample">
    delete from issue_custom_field
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yusys.agile.issue.domain.IssueCustomField">
    insert into issue_custom_field (extend_id, field_id, field_value, 
      issue_id, create_time, create_uid, 
      update_time, update_uid,tenant_code)
    values (#{extendId,jdbcType=BIGINT}, #{fieldId,jdbcType=BIGINT}, #{fieldValue,jdbcType=VARCHAR}, 
      #{issueId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{createUid,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUid,jdbcType=BIGINT},#{tenantCode})
  </insert>
  <insert id="insertSelective" parameterType="com.yusys.agile.issue.domain.IssueCustomField">
    insert into issue_custom_field
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="extendId != null">
        extend_id,
      </if>
      <if test="fieldId != null">
        field_id,
      </if>
      <if test="fieldValue != null">
        field_value,
      </if>
      <if test="issueId != null">
        issue_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUid != null">
        create_uid,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUid != null">
        update_uid,
      </if>
      <if test="tenantCode != null">
        tenant_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="extendId != null">
        #{extendId,jdbcType=BIGINT},
      </if>
      <if test="fieldId != null">
        #{fieldId,jdbcType=BIGINT},
      </if>
      <if test="fieldValue != null">
        #{fieldValue,jdbcType=VARCHAR},
      </if>
      <if test="issueId != null">
        #{issueId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUid != null">
        #{createUid,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUid != null">
        #{updateUid,jdbcType=BIGINT},
      </if>
      <if test="tenantCode != null">
        #{tenantCode},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yusys.agile.issue.domain.IssueCustomFieldExample" resultType="java.lang.Long">
    select count(*) from issue_custom_field
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update issue_custom_field
    <set>
      <if test="record.extendId != null">
        extend_id = #{record.extendId,jdbcType=BIGINT},
      </if>
      <if test="record.fieldId != null">
        field_id = #{record.fieldId,jdbcType=BIGINT},
      </if>
      <if test="record.fieldValue != null">
        field_value = #{record.fieldValue,jdbcType=VARCHAR},
      </if>
      <if test="record.issueId != null">
        issue_id = #{record.issueId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUid != null">
        create_uid = #{record.createUid,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUid != null">
        update_uid = #{record.updateUid,jdbcType=BIGINT},
      </if>
      <if test="record.tenantCode != null">
        tenant_code = #{record.tenantCode,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update issue_custom_field
    set extend_id = #{record.extendId,jdbcType=BIGINT},
      field_id = #{record.fieldId,jdbcType=BIGINT},
      field_value = #{record.fieldValue,jdbcType=VARCHAR},
      issue_id = #{record.issueId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_uid = #{record.createUid,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_uid = #{record.updateUid,jdbcType=BIGINT},
    tenant_code = #{record.tenantCode}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
    <select id="listCustomField" resultType="com.yusys.agile.issue.dto.IssueCustomFieldDTO">
      select a.*,b.field_code,b.field_name,b.field_type,b.field_content,b.required,b.state,b.is_select from issue_custom_field a,header_field b
      where a.field_id = b.field_id and a.issue_id=#{issueId}
      and b.is_select = 1
    </select>
  <insert id="createBatch">
    INSERT INTO issue_custom_field (issue_id,field_id, field_value, create_time, create_uid,tenant_code)
    VALUES
    <foreach collection="fields" item="field" separator=",">
      (#{field.issueId},#{field.fieldId},#{field.fieldValue},now(),#{field.createUid},#{field.tenantCode})
    </foreach>
  </insert>
    <delete id="deleteInFieldIdList4Issus">
      DELETE FROM issue_custom_field WHERE issue_id = #{issueId} AND field_id IN (
      <foreach collection="fieldIds" item="fieldId" separator=",">
        #{fieldId}
      </foreach>
      )
    </delete>
  <delete id="deleteCustomFileByIssueId">
    DELETE FROM issue_custom_field WHERE issue_id = #{issueId}
  </delete>


  <!--修改自定义字段时允许值为空 -->
  <update id="updateByExampleSelectiveWithNull" parameterType="map">
    update issue_custom_field
    <set>
      <if test="record.extendId != null">
        extend_id = #{record.extendId,jdbcType=BIGINT},
      </if>
      <if test="record.fieldId != null">
        field_id = #{record.fieldId,jdbcType=BIGINT},
      </if>
        field_value = #{record.fieldValue,jdbcType=VARCHAR},
      <if test="record.issueId != null">
        issue_id = #{record.issueId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUid != null">
        create_uid = #{record.createUid,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUid != null">
        update_uid = #{record.updateUid,jdbcType=BIGINT},
      </if>
      <if test="record.tenantCode != null">
        tenant_code = #{record.tenantCode,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <delete id="deleteInFieldIdListByFieldIds">
    DELETE FROM issue_custom_field WHERE field_id = #{fieldId}
  </delete>


</mapper>