<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yusys.agile.sprint.dao.TaskBoardMapper">

    <select id="search" resultType="com.yusys.agile.sprint.domain.TaskBoardUnionItem">
        SELECT story.story_id,story.story_name,story.story_desc,story.state story_state,story.story_level,
        story.module_id,story.sprint_id,story.backlog_id,story.story_type,story.story_stage_id,story.create_time story_create_time,
        task_id,task_name,task_desc,task_type,task.state task_state,task_owner,plan_workload,remain_workload,
        start_time,end_time,task.create_time task_create_time,task.task_stage_id,task.block_state
        FROM
        ( SELECT
        st.issue_id story_id,st.title story_name,st.description story_desc,st.state state,st.priority story_level,
        st.module_id module_id,st.sprint_id sprint_id,st.parent_id backlog_id,st.issue_type story_type,st.stage_id  story_stage_id,
        st.create_time create_time
        FROM issue st
        WHERE
        st.sprint_id = #{sprintId} AND st.state = "U" and st.issue_type = 3
        <if test="storyKeyWord!=null and storyKeyWord.length>0">
            AND (
            st.title LIKE CONCAT('%',#{storyKeyWord},'%') OR
            st.issue_id LIKE CONCAT('%',#{storyKeyWord},'%')
            )
        </if>
        <if test="moduleIds!=null and moduleIds.size>0">
            and st.module_id in
            <foreach collection="moduleIds" item="moduleId" open="(" close=")" separator=",">
                #{moduleId}
            </foreach>
        </if>
        ORDER BY st.priority DESC) story
        LEFT JOIN
        ( select ta.issue_id task_id,ta.title task_name,ta.description task_desc,ta.task_type task_type,ta.state
        state,ta.handler task_owner,ta.plan_workload plan_workload,
        ta.remain_workload remain_workload,ta.begin_date start_time,ta.end_date end_time,ta.create_time,ta.stage_id  task_stage_id,
        ta.parent_id story_id,ta.block_state block_state
        from issue ta
        <where>
            ta.sprint_id = #{sprintId} AND ta.state = "U" and ta.issue_type = 4
            <if test="taskKeyWord!=null and taskKeyWord.length>0">
                and (ta.title like CONCAT('%',#{taskKeyWord},'%') or ta.issue_id like CONCAT('%',#{taskKeyWord},'%'))
            </if>
            <if test="userIds!=null and userIds.size>0">
                and ta.handler in
                <foreach collection="userIds" item="handler" open="(" close=")" separator=",">
                    #{handler}
                </foreach>
            </if>
            <if test="taskTypeIds!=null and taskTypeIds.size>0">
                and ta.issue_type in
                <foreach collection="taskTypeIds" item="issueType" open="(" close=")" separator=",">
                    #{issueType}
                </foreach>
            </if>
        </where>
        ) task
        ON task.story_id=story.story_id
    </select>
</mapper>