<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yusys.agile.versionmanager.dao.VersionIssueRelateMapper">
  <resultMap id="BaseResultMap" type="com.yusys.agile.versionmanager.domain.VersionIssueRelate">
    <id column="relate_id" jdbcType="BIGINT" property="relateId" />
    <result column="issue_id" jdbcType="BIGINT" property="issueId" />
    <result column="issue_type" jdbcType="TINYINT" property="issueType" />
    <result column="version_id" jdbcType="BIGINT" property="versionId" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="approval_status" jdbcType="TINYINT" property="approvalStatus" />
    <result column="approval_time" jdbcType="TIMESTAMP" property="approvalTime" />
    <result column="create_uid" jdbcType="BIGINT" property="createUid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_uid" jdbcType="BIGINT" property="updateUid" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="tenant_code" jdbcType="VARCHAR" property="tenantCode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    relate_id, issue_id, issue_type, version_id, project_id, approval_status, approval_time, 
    create_uid, create_time, update_uid, update_time, tenant_code
  </sql>
  <select id="selectByExample" parameterType="com.yusys.agile.versionmanager.domain.VersionIssueRelateExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from version_issue_relate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from version_issue_relate
    where relate_id = #{relateId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from version_issue_relate
    where relate_id = #{relateId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yusys.agile.versionmanager.domain.VersionIssueRelateExample">
    delete from version_issue_relate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yusys.agile.versionmanager.domain.VersionIssueRelate" useGeneratedKeys="true" keyProperty="relateId">
    insert into version_issue_relate (relate_id, issue_id, issue_type, 
      version_id, project_id, approval_status, 
      approval_time, create_uid, create_time, 
      update_uid, update_time, tenant_code
      )
    values (#{relateId,jdbcType=BIGINT}, #{issueId,jdbcType=BIGINT}, #{issueType,jdbcType=TINYINT}, 
      #{versionId,jdbcType=BIGINT}, #{projectId,jdbcType=BIGINT}, #{approvalStatus,jdbcType=TINYINT}, 
      #{approvalTime,jdbcType=TIMESTAMP}, #{createUid,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUid,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{tenantCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yusys.agile.versionmanager.domain.VersionIssueRelate">
    insert into version_issue_relate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="relateId != null">
        relate_id,
      </if>
      <if test="issueId != null">
        issue_id,
      </if>
      <if test="issueType != null">
        issue_type,
      </if>
      <if test="versionId != null">
        version_id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="approvalStatus != null">
        approval_status,
      </if>
      <if test="approvalTime != null">
        approval_time,
      </if>
      <if test="createUid != null">
        create_uid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUid != null">
        update_uid,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="tenantCode != null">
        tenant_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="relateId != null">
        #{relateId,jdbcType=BIGINT},
      </if>
      <if test="issueId != null">
        #{issueId,jdbcType=BIGINT},
      </if>
      <if test="issueType != null">
        #{issueType,jdbcType=TINYINT},
      </if>
      <if test="versionId != null">
        #{versionId,jdbcType=BIGINT},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="approvalStatus != null">
        #{approvalStatus,jdbcType=TINYINT},
      </if>
      <if test="approvalTime != null">
        #{approvalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUid != null">
        #{createUid,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUid != null">
        #{updateUid,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tenantCode != null">
        #{tenantCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yusys.agile.versionmanager.domain.VersionIssueRelateExample" resultType="java.lang.Long">
    select count(*) from version_issue_relate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update version_issue_relate
    <set>
      <if test="record.relateId != null">
        relate_id = #{record.relateId,jdbcType=BIGINT},
      </if>
      <if test="record.issueId != null">
        issue_id = #{record.issueId,jdbcType=BIGINT},
      </if>
      <if test="record.issueType != null">
        issue_type = #{record.issueType,jdbcType=TINYINT},
      </if>
      <if test="record.versionId != null">
        version_id = #{record.versionId,jdbcType=BIGINT},
      </if>
      <if test="record.projectId != null">
        project_id = #{record.projectId,jdbcType=BIGINT},
      </if>
      <if test="record.approvalStatus != null">
        approval_status = #{record.approvalStatus,jdbcType=TINYINT},
      </if>
      <if test="record.approvalTime != null">
        approval_time = #{record.approvalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUid != null">
        create_uid = #{record.createUid,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUid != null">
        update_uid = #{record.updateUid,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tenantCode != null">
        tenant_code = #{record.tenantCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update version_issue_relate
    set relate_id = #{record.relateId,jdbcType=BIGINT},
      issue_id = #{record.issueId,jdbcType=BIGINT},
      issue_type = #{record.issueType,jdbcType=TINYINT},
      version_id = #{record.versionId,jdbcType=BIGINT},
      project_id = #{record.projectId,jdbcType=BIGINT},
      approval_status = #{record.approvalStatus,jdbcType=TINYINT},
      approval_time = #{record.approvalTime,jdbcType=TIMESTAMP},
      create_uid = #{record.createUid,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_uid = #{record.updateUid,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      tenant_code = #{record.tenantCode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yusys.agile.versionmanager.domain.VersionIssueRelate">
    update version_issue_relate
    <set>
      <if test="issueId != null">
        issue_id = #{issueId,jdbcType=BIGINT},
      </if>
      <if test="issueType != null">
        issue_type = #{issueType,jdbcType=TINYINT},
      </if>
      <if test="versionId != null">
        version_id = #{versionId,jdbcType=BIGINT},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="approvalStatus != null">
        approval_status = #{approvalStatus,jdbcType=TINYINT},
      </if>
      <if test="approvalTime != null">
        approval_time = #{approvalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUid != null">
        create_uid = #{createUid,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUid != null">
        update_uid = #{updateUid,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tenantCode != null">
        tenant_code = #{tenantCode,jdbcType=VARCHAR},
      </if>
    </set>
    where relate_id = #{relateId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yusys.agile.versionmanager.domain.VersionIssueRelate">
    update version_issue_relate
    set issue_id = #{issueId,jdbcType=BIGINT},
      issue_type = #{issueType,jdbcType=TINYINT},
      version_id = #{versionId,jdbcType=BIGINT},
      project_id = #{projectId,jdbcType=BIGINT},
      approval_status = #{approvalStatus,jdbcType=TINYINT},
      approval_time = #{approvalTime,jdbcType=TIMESTAMP},
      create_uid = #{createUid,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_uid = #{updateUid,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      tenant_code = #{tenantCode,jdbcType=VARCHAR}
    where relate_id = #{relateId,jdbcType=BIGINT}
  </update>

  <select id="selectVersionIssueRelateByIssueId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from version_issue_relate
    where issue_id = #{issueId,jdbcType=BIGINT}
  </select>
</mapper>