<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="cacheEnabled" value="false" />
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>
	
	<typeAliases>


	</typeAliases>
	<plugins>
		<plugin interceptor="com.yusys.portal.common.interceptor.TenantInterceptor">
			<property name="excludeTables" value="sso_user,sso_tenant,sso_user_tenant_rlat,sso_menu,sso_menu_func_rlat,sso_function,sso_func_res_rlat,sso_resource,sso_role,sso_role_func_rlat,
													s_header_field,s_issue_filter,external_api_config,fault_level,fault_type" />
			<property name="tenantSwitch" value="true"/>
		</plugin>
		<plugin interceptor="com.yusys.portal.common.interceptor.MyBatisInsertInterceptor">
			<property name="workerId" value="30" />
			<property name="dataCenterId" value="30" />
			<property name="kanbanId" value="30"/>
		</plugin>
	</plugins>
</configuration>
