<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="cacheEnabled" value="false" />
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>
	
	<typeAliases>


	</typeAliases>
	<plugins>
		<plugin interceptor="com.yusys.portal.common.interceptor.TenantInterceptor">
			<property name="excludeTables" value="s_issue,s_header_field,s_issue_filter,s_sys_extend_field,s_sys_field,s_sys_extend_field_detail,s_kanban_stage_instance,s_stage_template_config,s_version_issue_relate" />

			<property name="tenantSwitch" value="true"/>
		</plugin>
		<plugin interceptor="com.yusys.portal.common.interceptor.MyBatisInsertInterceptor">
			<property name="workerId" value="30" />
			<property name="dataCenterId" value="30" />
			<property name="kanbanId" value="30"/>
		</plugin>
	</plugins>
</configuration>
