<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yusys.agile.issue.dao.IssueStatusMapper">

    <select id="getBySprintAndDate" resultType="com.yusys.agile.issue.domain.IssueStatus">
        select project_id,sprint_id,sprint_date,issue_type,in_sprint,finished,not_started,create_time
        from s_issue_status where sprint_id = #{sprintId} and sprint_date = #{sprintDate} and  issue_type = #{issueType}
    </select>

    <insert id="create">
        insert into s_issue_status(project_id,sprint_id,sprint_date,issue_type,in_sprint,finished,not_started,create_time) values
            (#{projectId},#{sprintId},#{sprintDate},#{issueType},#{inSprint},#{finished},#{notStarted},now())
    </insert>

    <update id="update">
        update s_issue_status set in_sprint = #{inSprint},finished = #{finished},not_started=#{notStarted}
        where sprint_id = #{sprintId} and sprint_date = #{sprintDate} and issue_type = #{issueType}
    </update>

    <select id="getTaskStatus" resultType="com.yusys.agile.issue.domain.IssueStatus">
        select A.sprint_id,A.finished ,B.in_sprint,C.not_started,E.really_workload,F.plan_workload from (
        (
        SELECT COUNT(1) AS finished ,a.sprint_id
        FROM s_issue a
        WHERE a.is_archive != 1 AND a.state = "U" AND a.lane_id = 110 AND a.issue_type = 4 AND a.sprint_id = #{sprintId}) A
        left join
        (
        SELECT COUNT(1) AS in_sprint,a.sprint_id
        FROM s_issue a
        WHERE a.is_archive != 1 AND a.state = "U" AND a.lane_id in (108,109) AND a.issue_type = 4 AND a.sprint_id = #{sprintId}) B on A.sprint_id = B.sprint_id
        left join
        (
        SELECT COUNT(1) AS not_started,a.sprint_id
        FROM s_issue a
        WHERE a.is_archive != 1 AND a.state = "U" AND a.lane_id = 107 AND a.issue_type = 4 AND a.sprint_id = #{sprintId}) C
        on B.sprint_id = C.sprint_id
           left join
           (
            select sum(a.really_workload) as really_workload, a.sprint_id
            from s_issue a
            where 1=1
            and a.is_archive != 1
            and a.state = 'U'
            and a.lane_id = 110
            and a.issue_type = 4
            and a.sprint_id = 100030
            ) E on E.sprint_id = C.sprint_id
           left join
           (
            select sum(a.plan_workload) as plan_workload, a.sprint_id
            from s_issue a
            where 1=1
            and a.is_archive != 1
            and a.state = 'U'
            and a.lane_id = 110
            and a.issue_type = 4
            and a.sprint_id = 100030
            ) F on F.sprint_id = E.sprint_id

        )
    </select>

    <select id="getStoryStatus" resultType="com.yusys.agile.issue.domain.IssueStatus">
        select A.sprint_id,A.finished,B.in_sprint,C.not_started,E.finished_story_point from (
        (
        SELECT COUNT(1) AS finished ,a.sprint_id
        FROM s_issue a
        WHERE a.is_archive != 1 AND a.state = "U" AND a.lane_id = 106 AND a.issue_type = 3 AND a.sprint_id = #{sprintId}) A
        left join
        (
        SELECT COUNT(1) AS in_sprint,a.sprint_id
        FROM s_issue a
        WHERE a.is_archive != 1 AND a.state = "U" AND a.lane_id = 105 AND a.issue_type = 3 AND a.sprint_id = #{sprintId}) B on A.sprint_id = B.sprint_id
        left join
        (
        SELECT COUNT(1) AS not_started,a.sprint_id
        FROM s_issue a
        WHERE a.is_archive != 1 AND a.state = "U" AND a.lane_id = 104 AND a.issue_type = 3 AND a.sprint_id = #{sprintId}) C
        on B.sprint_id = C.sprint_id
        )
        left join
        (
            select sum(se.value) as finished_story_point,si.sprint_id
            from s_issue si, s_sys_extend_field_detail se
            where 1=1
            and si.issue_id = se.issue_id
            and si.sprint_id = #{sprintId}
            and si.state = "U"
            and si.lane_id = 106
            and si.issue_type = 3
            and se.field_id = 'storyPoint'
           ) E on E.sprint_id = C.sprint_id
    </select>

</mapper>