<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yusys.agile.issue.dao.IssueSyncFailRecordMapper">
  <resultMap id="BaseResultMap" type="com.yusys.agile.issue.domain.IssueSyncFailRecord">
    <id column="record_id" jdbcType="BIGINT" property="recordId" />
    <result column="issue_id" jdbcType="BIGINT" property="issueId" />
    <result column="issue_type" jdbcType="TINYINT" property="issueType" />
    <result column="operate_type" jdbcType="INTEGER" property="operateType" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="sync_system" jdbcType="TINYINT" property="syncSystem" />
    <result column="sync_result" jdbcType="TINYINT" property="syncResult" />
    <result column="create_uid" jdbcType="BIGINT" property="createUid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_uid" jdbcType="BIGINT" property="updateUid" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="tenant_code" jdbcType="VARCHAR" property="tenantCode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    record_id, issue_id, issue_type, operate_type, project_id, sync_system, sync_result, 
    create_uid, create_time, update_uid, update_time, tenant_code
  </sql>
  <select id="selectByExample" parameterType="com.yusys.agile.issue.domain.IssueSyncFailRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from s_issue_sync_fail_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_issue_sync_fail_record
    where record_id = #{recordId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from s_issue_sync_fail_record
    where record_id = #{recordId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yusys.agile.issue.domain.IssueSyncFailRecordExample">
    delete from s_issue_sync_fail_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yusys.agile.issue.domain.IssueSyncFailRecord" useGeneratedKeys="true" keyProperty="recordId">
    insert into s_issue_sync_fail_record (record_id, issue_id, issue_type, 
      operate_type, project_id, sync_system, 
      sync_result, create_uid, create_time, 
      update_uid, update_time, tenant_code
      )
    values (#{recordId,jdbcType=BIGINT}, #{issueId,jdbcType=BIGINT}, #{issueType,jdbcType=TINYINT}, 
      #{operateType,jdbcType=INTEGER}, #{projectId,jdbcType=BIGINT}, #{syncSystem,jdbcType=TINYINT}, 
      #{syncResult,jdbcType=TINYINT}, #{createUid,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUid,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{tenantCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yusys.agile.issue.domain.IssueSyncFailRecord" useGeneratedKeys="true" keyProperty="recordId">
    insert into s_issue_sync_fail_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordId != null">
        record_id,
      </if>
      <if test="issueId != null">
        issue_id,
      </if>
      <if test="issueType != null">
        issue_type,
      </if>
      <if test="operateType != null">
        operate_type,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="syncSystem != null">
        sync_system,
      </if>
      <if test="syncResult != null">
        sync_result,
      </if>
      <if test="createUid != null">
        create_uid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUid != null">
        update_uid,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="tenantCode != null">
        tenant_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordId != null">
        #{recordId,jdbcType=BIGINT},
      </if>
      <if test="issueId != null">
        #{issueId,jdbcType=BIGINT},
      </if>
      <if test="issueType != null">
        #{issueType,jdbcType=TINYINT},
      </if>
      <if test="operateType != null">
        #{operateType,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="syncSystem != null">
        #{syncSystem,jdbcType=TINYINT},
      </if>
      <if test="syncResult != null">
        #{syncResult,jdbcType=TINYINT},
      </if>
      <if test="createUid != null">
        #{createUid,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUid != null">
        #{updateUid,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tenantCode != null">
        #{tenantCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yusys.agile.issue.domain.IssueSyncFailRecordExample" resultType="java.lang.Long">
    select count(*) from s_issue_sync_fail_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update s_issue_sync_fail_record
    <set>
      <if test="record.recordId != null">
        record_id = #{record.recordId,jdbcType=BIGINT},
      </if>
      <if test="record.issueId != null">
        issue_id = #{record.issueId,jdbcType=BIGINT},
      </if>
      <if test="record.issueType != null">
        issue_type = #{record.issueType,jdbcType=TINYINT},
      </if>
      <if test="record.operateType != null">
        operate_type = #{record.operateType,jdbcType=INTEGER},
      </if>
      <if test="record.projectId != null">
        project_id = #{record.projectId,jdbcType=BIGINT},
      </if>
      <if test="record.syncSystem != null">
        sync_system = #{record.syncSystem,jdbcType=TINYINT},
      </if>
      <if test="record.syncResult != null">
        sync_result = #{record.syncResult,jdbcType=TINYINT},
      </if>
      <if test="record.createUid != null">
        create_uid = #{record.createUid,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUid != null">
        update_uid = #{record.updateUid,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tenantCode != null">
        tenant_code = #{record.tenantCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update s_issue_sync_fail_record
    set record_id = #{record.recordId,jdbcType=BIGINT},
      issue_id = #{record.issueId,jdbcType=BIGINT},
      issue_type = #{record.issueType,jdbcType=TINYINT},
      operate_type = #{record.operateType,jdbcType=INTEGER},
      project_id = #{record.projectId,jdbcType=BIGINT},
      sync_system = #{record.syncSystem,jdbcType=TINYINT},
      sync_result = #{record.syncResult,jdbcType=TINYINT},
      create_uid = #{record.createUid,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_uid = #{record.updateUid,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      tenant_code = #{record.tenantCode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yusys.agile.issue.domain.IssueSyncFailRecord">
    update s_issue_sync_fail_record
    <set>
      <if test="issueId != null">
        issue_id = #{issueId,jdbcType=BIGINT},
      </if>
      <if test="issueType != null">
        issue_type = #{issueType,jdbcType=TINYINT},
      </if>
      <if test="operateType != null">
        operate_type = #{operateType,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="syncSystem != null">
        sync_system = #{syncSystem,jdbcType=TINYINT},
      </if>
      <if test="syncResult != null">
        sync_result = #{syncResult,jdbcType=TINYINT},
      </if>
      <if test="createUid != null">
        create_uid = #{createUid,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUid != null">
        update_uid = #{updateUid,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tenantCode != null">
        tenant_code = #{tenantCode,jdbcType=VARCHAR},
      </if>
    </set>
    where record_id = #{recordId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yusys.agile.issue.domain.IssueSyncFailRecord">
    update s_issue_sync_fail_record
    set issue_id = #{issueId,jdbcType=BIGINT},
      issue_type = #{issueType,jdbcType=TINYINT},
      operate_type = #{operateType,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=BIGINT},
      sync_system = #{syncSystem,jdbcType=TINYINT},
      sync_result = #{syncResult,jdbcType=TINYINT},
      create_uid = #{createUid,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_uid = #{updateUid,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      tenant_code = #{tenantCode,jdbcType=VARCHAR}
    where record_id = #{recordId,jdbcType=BIGINT}
  </update>
  
  <select id="getIssueSyncFailRecordDataList" resultMap="BaseResultMap">
    select
      record_id,
      issue_id,
      issue_type
    from
      s_issue_sync_fail_record
    where
      record_id >=
    (
    select
      record_id
    from
      s_issue_sync_fail_record
    where
      operate_type = 2
    and
      sync_system = 2
    and
      sync_result in (-1,0)
    order by record_id limit #{startIndex},1
    )
    and
      operate_type = 2
    and
      sync_system = 2
    and
      sync_result in (-1,0)
    order by record_id limit #{pageSize}
  </select>
</mapper>