<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yusys.agile.issueTemplate.dao.IssueTemplateV3Mapper">
    <resultMap id="BaseResultMap" type="com.yusys.agile.issueTemplate.domain.IssueTemplateV3">
        <!--@mbg.generated-->
        <!--@Table s_issue_template-->
        <id column="issue_template_id" jdbcType="BIGINT" property="issueTemplateId"/>
        <result column="template_name" jdbcType="VARCHAR" property="templateName"/>
        <result column="description" jdbcType="LONGVARCHAR" property="description"/>
        <result column="issue_type" jdbcType="TINYINT" property="issueType"/>
        <result column="apply" jdbcType="TINYINT" property="apply"/>
        <result column="system_id" jdbcType="BIGINT" property="systemId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_uid" jdbcType="BIGINT" property="createUid"/>
        <result column="update_uid" jdbcType="BIGINT" property="updateUid"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="tenant_code" jdbcType="INTEGER" property="tenantCode"/>
    </resultMap>


    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        issue_template_id, template_name, description, issue_type, apply, system_id, create_time,
        create_uid, update_uid, update_time, tenant_code
    </sql>

    <sql id="webResult">
        issue_template_id,
        template_name,
        description,
        issue_type,
        system_id
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from s_issue_template
        where issue_template_id = #{issueTemplateId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete
        from s_issue_template
        where issue_template_id = #{issueTemplateId,jdbcType=BIGINT}
    </delete>

    <insert id="insert" keyColumn="issue_template_id" keyProperty="issueTemplateId"
            parameterType="com.yusys.agile.issueTemplate.domain.IssueTemplateV3" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into s_issue_template (template_name, description, issue_type,
                                      apply, system_id, create_time,
                                      create_uid, update_uid, update_time,
                                      tenant_code)
        values (#{templateName,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR}, #{issueType,jdbcType=TINYINT},
                #{apply,jdbcType=TINYINT}, #{systemId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP},
                #{createUid,jdbcType=BIGINT}, #{updateUid,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP},
                #{tenantCode,jdbcType=INTEGER})
    </insert>

    <insert id="insertSelective" keyColumn="issue_template_id" keyProperty="issueTemplateId"
            parameterType="com.yusys.agile.issueTemplate.domain.IssueTemplateV3" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into s_issue_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="templateName != null">
                template_name,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="issueType != null">
                issue_type,
            </if>
            <if test="apply != null">
                apply,
            </if>
            <if test="systemId != null">
                system_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUid != null">
                create_uid,
            </if>
            <if test="updateUid != null">
                update_uid,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="tenantCode != null">
                tenant_code,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="templateName != null">
                #{templateName,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=LONGVARCHAR},
            </if>
            <if test="issueType != null">
                #{issueType,jdbcType=TINYINT},
            </if>
            <if test="apply != null">
                #{apply,jdbcType=TINYINT},
            </if>
            <if test="systemId != null">
                #{systemId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUid != null">
                #{createUid,jdbcType=BIGINT},
            </if>
            <if test="updateUid != null">
                #{updateUid,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="tenantCode != null">
                #{tenantCode,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yusys.agile.issueTemplate.domain.IssueTemplateV3">
        <!--@mbg.generated-->
        update s_issue_template
        <set>
            <if test="templateName != null">
                template_name = #{templateName,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=LONGVARCHAR},
            </if>
            <if test="issueType != null">
                issue_type = #{issueType,jdbcType=TINYINT},
            </if>
            <if test="apply != null">
                apply = #{apply,jdbcType=TINYINT},
            </if>
            <if test="systemId != null">
                system_id = #{systemId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUid != null">
                create_uid = #{createUid,jdbcType=BIGINT},
            </if>
            <if test="updateUid != null">
                update_uid = #{updateUid,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="tenantCode != null">
                tenant_code = #{tenantCode,jdbcType=INTEGER},
            </if>
        </set>
        where issue_template_id = #{issueTemplateId,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yusys.agile.issueTemplate.domain.IssueTemplateV3">
        <!--@mbg.generated-->
        update s_issue_template
        set template_name = #{templateName,jdbcType=VARCHAR},
            description   = #{description,jdbcType=LONGVARCHAR},
            issue_type    = #{issueType,jdbcType=TINYINT},
            apply         = #{apply,jdbcType=TINYINT},
            system_id     = #{systemId,jdbcType=BIGINT},
            update_uid    = #{updateUid,jdbcType=BIGINT},
            update_time   = #{updateTime,jdbcType=TIMESTAMP},
            tenant_code   = #{tenantCode,jdbcType=INTEGER}
        where issue_template_id = #{issueTemplateId,jdbcType=BIGINT}
    </update>

    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated-->
        update s_issue_template
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="template_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when issue_template_id = #{item.issueTemplateId,jdbcType=BIGINT} then #{item.templateName,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="description = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when issue_template_id = #{item.issueTemplateId,jdbcType=BIGINT} then #{item.description,jdbcType=LONGVARCHAR}
                </foreach>
            </trim>
            <trim prefix="issue_type = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when issue_template_id = #{item.issueTemplateId,jdbcType=BIGINT} then #{item.issueType,jdbcType=TINYINT}
                </foreach>
            </trim>
            <trim prefix="apply = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when issue_template_id = #{item.issueTemplateId,jdbcType=BIGINT} then #{item.apply,jdbcType=TINYINT}
                </foreach>
            </trim>
            <trim prefix="system_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when issue_template_id = #{item.issueTemplateId,jdbcType=BIGINT} then #{item.systemId,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when issue_template_id = #{item.issueTemplateId,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="create_uid = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when issue_template_id = #{item.issueTemplateId,jdbcType=BIGINT} then #{item.createUid,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="update_uid = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when issue_template_id = #{item.issueTemplateId,jdbcType=BIGINT} then #{item.updateUid,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when issue_template_id = #{item.issueTemplateId,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="tenant_code = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when issue_template_id = #{item.issueTemplateId,jdbcType=BIGINT} then #{item.tenantCode,jdbcType=INTEGER}
                </foreach>
            </trim>
        </trim>
        where issue_template_id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.issueTemplateId,jdbcType=BIGINT}
        </foreach>
    </update>

    <update id="updateBatchSelective" parameterType="java.util.List">
        <!--@mbg.generated-->
        update s_issue_template
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="template_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.templateName != null">
                        when issue_template_id = #{item.issueTemplateId,jdbcType=BIGINT} then #{item.templateName,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="description = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.description != null">
                        when issue_template_id = #{item.issueTemplateId,jdbcType=BIGINT} then #{item.description,jdbcType=LONGVARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="issue_type = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.issueType != null">
                        when issue_template_id = #{item.issueTemplateId,jdbcType=BIGINT} then #{item.issueType,jdbcType=TINYINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="apply = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.apply != null">
                        when issue_template_id = #{item.issueTemplateId,jdbcType=BIGINT} then #{item.apply,jdbcType=TINYINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="system_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.systemId != null">
                        when issue_template_id = #{item.issueTemplateId,jdbcType=BIGINT} then #{item.systemId,jdbcType=BIGINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.createTime != null">
                        when issue_template_id = #{item.issueTemplateId,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_uid = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.createUid != null">
                        when issue_template_id = #{item.issueTemplateId,jdbcType=BIGINT} then #{item.createUid,jdbcType=BIGINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_uid = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.updateUid != null">
                        when issue_template_id = #{item.issueTemplateId,jdbcType=BIGINT} then #{item.updateUid,jdbcType=BIGINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.updateTime != null">
                        when issue_template_id = #{item.issueTemplateId,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
            <trim prefix="tenant_code = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.tenantCode != null">
                        when issue_template_id = #{item.issueTemplateId,jdbcType=BIGINT} then #{item.tenantCode,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
        </trim>
        where issue_template_id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.issueTemplateId,jdbcType=BIGINT}
        </foreach>
    </update>

    <insert id="batchInsert" keyColumn="issue_template_id" keyProperty="issueTemplateId" parameterType="map"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into s_issue_template
                (template_name, description, issue_type, apply, system_id, create_time, create_uid,
                 update_uid, update_time, tenant_code)
                values
        <foreach collection="list" item="item" separator=",">
            (#{item.templateName,jdbcType=VARCHAR}, #{item.description,jdbcType=LONGVARCHAR},
             #{item.issueType,jdbcType=TINYINT}, #{item.apply,jdbcType=TINYINT}, #{item.systemId,jdbcType=BIGINT},
             #{item.createTime,jdbcType=TIMESTAMP}, #{item.createUid,jdbcType=BIGINT},
             #{item.updateUid,jdbcType=BIGINT},
             #{item.updateTime,jdbcType=TIMESTAMP}, #{item.tenantCode,jdbcType=INTEGER})
        </foreach>
    </insert>

    <insert id="insertOrUpdate" keyColumn="issue_template_id" keyProperty="issueTemplateId"
            parameterType="com.yusys.agile.issueTemplate.domain.IssueTemplateV3" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into s_issue_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="issueTemplateId != null">
                issue_template_id,
            </if>
            template_name,
            description,
            issue_type,
            apply,
            system_id,
            create_time,
            create_uid,
            update_uid,
            update_time,
            tenant_code,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="issueTemplateId != null">
                #{issueTemplateId,jdbcType=BIGINT},
            </if>
            #{templateName,jdbcType=VARCHAR},
            #{description,jdbcType=LONGVARCHAR},
            #{issueType,jdbcType=TINYINT},
            #{apply,jdbcType=TINYINT},
            #{systemId,jdbcType=BIGINT},
            #{createTime,jdbcType=TIMESTAMP},
            #{createUid,jdbcType=BIGINT},
            #{updateUid,jdbcType=BIGINT},
            #{updateTime,jdbcType=TIMESTAMP},
            #{tenantCode,jdbcType=INTEGER},
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="issueTemplateId != null">
                issue_template_id = #{issueTemplateId,jdbcType=BIGINT},
            </if>
            template_name = #{templateName,jdbcType=VARCHAR},
            description   = #{description,jdbcType=LONGVARCHAR},
            issue_type    = #{issueType,jdbcType=TINYINT},
            apply         = #{apply,jdbcType=TINYINT},
            system_id     = #{systemId,jdbcType=BIGINT},
            create_time   = #{createTime,jdbcType=TIMESTAMP},
            create_uid    = #{createUid,jdbcType=BIGINT},
            update_uid    = #{updateUid,jdbcType=BIGINT},
            update_time   = #{updateTime,jdbcType=TIMESTAMP},
            tenant_code   = #{tenantCode,jdbcType=INTEGER},
        </trim>
    </insert>

    <insert id="insertOrUpdateSelective" keyColumn="issue_template_id" keyProperty="issueTemplateId"
            parameterType="com.yusys.agile.issueTemplate.domain.IssueTemplateV3" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into s_issue_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="issueTemplateId != null">
                issue_template_id,
            </if>
            <if test="templateName != null">
                template_name,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="issueType != null">
                issue_type,
            </if>
            <if test="apply != null">
                apply,
            </if>
            <if test="systemId != null">
                system_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUid != null">
                create_uid,
            </if>
            <if test="updateUid != null">
                update_uid,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="tenantCode != null">
                tenant_code,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="issueTemplateId != null">
                #{issueTemplateId,jdbcType=BIGINT},
            </if>
            <if test="templateName != null">
                #{templateName,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=LONGVARCHAR},
            </if>
            <if test="issueType != null">
                #{issueType,jdbcType=TINYINT},
            </if>
            <if test="apply != null">
                #{apply,jdbcType=TINYINT},
            </if>
            <if test="systemId != null">
                #{systemId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUid != null">
                #{createUid,jdbcType=BIGINT},
            </if>
            <if test="updateUid != null">
                #{updateUid,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="tenantCode != null">
                #{tenantCode,jdbcType=INTEGER},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="issueTemplateId != null">
                issue_template_id = #{issueTemplateId,jdbcType=BIGINT},
            </if>
            <if test="templateName != null">
                template_name = #{templateName,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=LONGVARCHAR},
            </if>
            <if test="issueType != null">
                issue_type = #{issueType,jdbcType=TINYINT},
            </if>
            <if test="apply != null">
                apply = #{apply,jdbcType=TINYINT},
            </if>
            <if test="systemId != null">
                system_id = #{systemId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUid != null">
                create_uid = #{createUid,jdbcType=BIGINT},
            </if>
            <if test="updateUid != null">
                update_uid = #{updateUid,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="tenantCode != null">
                tenant_code = #{tenantCode,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="queryIssueTemplateBySystemIdAndIssueType" resultMap="BaseResultMap">
        select
        <include refid="webResult"/>
        from s_issue_template
        where system_id = #{systemId}
          and issue_type = #{issueType}
    </select>
</mapper>