<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yusys.agile.projectmanager.dao.SProjectSystemRelMapper">
  <resultMap id="BaseResultMap" type="com.yusys.agile.projectmanager.domain.SProjectSystemRel">
    <id column="project_system_rel_id" jdbcType="BIGINT" property="projectSystemRelId" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="rel_system_id" jdbcType="BIGINT" property="relSystemId" />
    <result column="create_uid" jdbcType="BIGINT" property="createUid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_uid" jdbcType="BIGINT" property="updateUid" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="tenant_code" jdbcType="VARCHAR" property="tenantCode" />
    <result column="state" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    project_system_rel_id, project_id, rel_system_id, create_uid, create_time, update_uid, 
    update_time, tenant_code, state
  </sql>
  <select id="selectByExample" parameterType="com.yusys.agile.projectmanager.domain.SProjectSystemRelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from s_project_system_rel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_project_system_rel
    where project_system_rel_id = #{projectSystemRelId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from s_project_system_rel
    where project_system_rel_id = #{projectSystemRelId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yusys.agile.projectmanager.domain.SProjectSystemRelExample">
    delete from s_project_system_rel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yusys.agile.projectmanager.domain.SProjectSystemRel">
    insert into s_project_system_rel (project_system_rel_id, project_id, rel_system_id, 
      create_uid, create_time, update_uid, 
      update_time, tenant_code, state
      )
    values (#{projectSystemRelId,jdbcType=BIGINT}, #{projectId,jdbcType=BIGINT}, #{relSystemId,jdbcType=BIGINT}, 
      #{createUid,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateUid,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{tenantCode,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yusys.agile.projectmanager.domain.SProjectSystemRel">
    insert into s_project_system_rel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectSystemRelId != null">
        project_system_rel_id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="relSystemId != null">
        rel_system_id,
      </if>
      <if test="createUid != null">
        create_uid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUid != null">
        update_uid,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="tenantCode != null">
        tenant_code,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectSystemRelId != null">
        #{projectSystemRelId,jdbcType=BIGINT},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="relSystemId != null">
        #{relSystemId,jdbcType=BIGINT},
      </if>
      <if test="createUid != null">
        #{createUid,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUid != null">
        #{updateUid,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tenantCode != null">
        #{tenantCode,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yusys.agile.projectmanager.domain.SProjectSystemRelExample" resultType="java.lang.Long">
    select count(*) from s_project_system_rel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update s_project_system_rel
    <set>
      <if test="record.projectSystemRelId != null">
        project_system_rel_id = #{record.projectSystemRelId,jdbcType=BIGINT},
      </if>
      <if test="record.projectId != null">
        project_id = #{record.projectId,jdbcType=BIGINT},
      </if>
      <if test="record.relSystemId != null">
        rel_system_id = #{record.relSystemId,jdbcType=BIGINT},
      </if>
      <if test="record.createUid != null">
        create_uid = #{record.createUid,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUid != null">
        update_uid = #{record.updateUid,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tenantCode != null">
        tenant_code = #{record.tenantCode,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update s_project_system_rel
    set project_system_rel_id = #{record.projectSystemRelId,jdbcType=BIGINT},
      project_id = #{record.projectId,jdbcType=BIGINT},
      rel_system_id = #{record.relSystemId,jdbcType=BIGINT},
      create_uid = #{record.createUid,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_uid = #{record.updateUid,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      tenant_code = #{record.tenantCode,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yusys.agile.projectmanager.domain.SProjectSystemRel">
    update s_project_system_rel
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="relSystemId != null">
        rel_system_id = #{relSystemId,jdbcType=BIGINT},
      </if>
      <if test="createUid != null">
        create_uid = #{createUid,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUid != null">
        update_uid = #{updateUid,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tenantCode != null">
        tenant_code = #{tenantCode,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where project_system_rel_id = #{projectSystemRelId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yusys.agile.projectmanager.domain.SProjectSystemRel">
    update s_project_system_rel
    set project_id = #{projectId,jdbcType=BIGINT},
      rel_system_id = #{relSystemId,jdbcType=BIGINT},
      create_uid = #{createUid,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_uid = #{updateUid,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      tenant_code = #{tenantCode,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR}
    where project_system_rel_id = #{projectSystemRelId,jdbcType=BIGINT}
  </update>

  <insert id="batchInsertProjectSystemRelMapper" parameterType="map">
    insert into s_project_system_rel (project_id, rel_system_id,
                                      create_uid, create_time, update_uid,
                                      update_time, tenant_code, state
    )
    values
    <foreach collection="sProjectSystemRels" separator="," item="projectSystemRel">
      ( #{projectSystemRel.projectId,jdbcType=BIGINT}, #{projectSystemRel.relSystemId,jdbcType=BIGINT},
      #{projectSystemRel.createUid,jdbcType=BIGINT}, #{projectSystemRel.createTime,jdbcType=TIMESTAMP}, #{projectSystemRel.updateUid,jdbcType=BIGINT},
      #{projectSystemRel.updateTime,jdbcType=TIMESTAMP}, #{projectSystemRel.tenantCode,jdbcType=VARCHAR}, #{projectSystemRel.state,jdbcType=VARCHAR}
      )
    </foreach>


  </insert>

</mapper>